.projectsContainer {
    width: 80%;
    float: right;
    padding-top: 5%;
    text-align: center;
}

#title {
    font-size: 42px;
    padding-top: 0px;
}

.gridRow {
    display: flex;
    flex-direction: row;
}